/* Safari 4.0 - 8.0 */
@-webkit-keyframes decrease-font {
    from {font-size: 40px;}
    to {font-size: 20px;}
}

/* Standard syntax */
@keyframes decrease-font {
    from {font-size: 40px;}
    to {font-size: 20px;
        width: 0%;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes increase-font {
    from {font-size: inherit;}
    to {font-size: 40px;}
}

/* Standard syntax */
@keyframes increase-font {
    from {font-size: inherit;}
    to {font-size: 40px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes decrease-toggler {
    from {margin-top: 15px;
          font-size: 30px;}
    to {margin-top: 3px;
        font-size: 25px;}
}

/* Standard syntax */
@keyframes decrease-toggler {
    from {margin-top: 15px;
          font-size: 30px;}
    to {margin-top: 3px;
        font-size: 25px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes increase-toggler {
    from {margin-top: 3px;
          font-size: 25px;}
    to{margin-top: 15px;
       font-size: 30px;}
}

/* Standard syntax */
@keyframes increase-toggler {
    from {margin-top: 3px;
          font-size: 25px;}
    to{margin-top: 15px;
       font-size: 30px;}
}