/* GENERAL STYLING */

.crimson-font-color{
  color: #540002;
}

/* STYLE CONTAINERS */

.cover .container{
  padding-top: 200px; 
}

#about .container{
  padding-top: 30px;
}

body, html {
  height: 100%;
}

#about{
  height: 200%;
  background: white;
  color: #540002;
}

/* BUTTON PROPERTIES */

.btn-info{
  background: #74FF11;
  color: #540002 !important;
  border-color: #74FF11;
}

.btn-info:hover{
  background: #64D612;
  color: #540002 !important;
  border-color: #64D612;
}

.btn{
  padding: 10px 24px !important;
  font-size: 18px;
}

/* NAVBAR COMPONENTS */

.navbar{
  background: transparent;
}

.navbar-toggler{
  margin-top: 15px;
  font-size: 25px;
  border: none;
}

.navbar-brand{
  font-size: 30px;
}

/* FOOTER ELEMENTS */

.designer_name, .designer_name:visited{
  text-decoration: none;
  color: #767676;
}

.designer_name:hover, .designer_name:active, .designer_name:focus{
  text-decoration: none;
  opacity: 0.6;
}

/* #MAIN ELEMENTS */

#main{
  background: url(../imgs/main.jpg);
  color: white;
}

#description {
  opacity: 0.6;
}

.cover{
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.row{
  height: 100%;
}

#down{
  animation-delay: 2.5s;
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  opacity: 0.5;
  font-size: 50px;
}

/* CONTACT PAGE */

#call{
  height: 50%;
  width: 50%;
}

#visit{
  height: 50%;
  width: 50%;
}

#email{
  height: 50%;
  width: 50%;
}